
.root{
    -fx-background-color: rgba(0, 88, 122, 1);
}

.tagline{
    -fx-font-family: Century Gothic;
    -fx-text-fill: #ffffff;
    -fx-font-size: 30px;
}

.label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
}
