@import url("base.css"); 

.center-box{
    -fx-background-color: rgba(0, 136, 145, 1);
}

.tagline{
    -fx-font-family: Century Gothic;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
}

.hbox-top-background {

    -fx-background-color: rgba(255, 255, 255, 1);
}

.logo-background {

    -fx-background-color: rgba(28, 185, 176, 1);
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgba(28, 185, 176, 1);
}

.hbox-title {
    -fx-text-fill: rgba(51, 51, 51, .8);
    -fx-font-size: 16px;
    -fx-font-family: cursive;
}

.control-background {

    -fx-background-color: rgba(23, 169, 168, 1);
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgba(23, 169, 168, 1);
}


.logout-button {
    -fx-background-image: url("../images/logout.png");
}

.logout-button  {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-color: rgba(23, 169, 168, 1);
}

.logout-button:hover {
    -fx-background-color: rgba(255, 255, 247, .2);
}

.sidebar-menu {
    -fx-background-color: rgba(51, 50, 68, 1);
}

.menu-buttons {

    -fx-text-fill: rgba(93, 93, 119, 1);
    -fx-font-size: 16px;
    -fx-background-color: rgba(51, 50, 68, 1);
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 5px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-alignment: center-left;
}

.menu-buttons:hover {

    -fx-text-fill: rgba(156, 156, 168, 1);
    -fx-background-color: rgba(44, 43, 61, 1);
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 5px;
    -fx-border-color: transparent transparent transparent rgba(29, 114, 107, 1);
} 

.menu-buttons-selected {

    -fx-text-fill: rgba(156, 156, 168, 1);
    -fx-background-color: rgba(44, 43, 61, 1);
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 5px;
    -fx-border-color: transparent transparent transparent rgba(29, 114, 107, 1);
}

.pane-user {

    -fx-border-color: rgba(72, 78, 72, .5);
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
}

.pane-user-text {

    -fx-text-fill: #ffffff;
    -fx-font-size: 16px; 
}

.pane-user-pic {

    -fx-background-radius: 5em;
}

.vbox-panel {

    -fx-background-color: rgba(238, 238, 238, 1);
}

.hbox-header {
    /*-fx-background-color: #c0c0c0;*/
    -fx-background-color: rgba(23, 169, 168, 1);
}

*{
    -fx-font-size: 18px;
}
